<!-- We create a partial to use for every beer and include it inside the forEach loop in beers.ejs -->
<div class="singleBeer">
    <img src="<%= beer.image_url %>" alt="<%= beer.name %>">
    <h2><%= beer.name %></h2>
    <p class="tagline"><%= beer.tagline %></p>
    <p class="description"><%= beer.description %></p>
</div>        

    