
    <!-- beer.image_url
    beer.name
    beer.description
    beer.tagline -->

<% data.forEach(beer => { %>
    <h2><%= beer.name %></h2>
    <p><%= beer.tagline %></p>
    <img src="<%= beer.image_url %>" alt="<%= beer.name %>">
    <p><%= beer.description %></p>
<% }) %>

